# git ignore rulse
tags
cscope*
/si/*
*.a
*.o
*.cmd
Module.symvers
.tmp_versions/*
softmac/rwnx_version_gen.h
fullmac/rwnx_version_gen.h
softmac/rwnx_testmode.c
softmac/modules.order
fullmac/rwnx_testmode.c
fullmac/modules.order
fullmac/ipc_host.c
fullmac/rwnx_bfmer.c
fullmac/rwnx_cfgfile.c
fullmac/rwnx_cmds.c
fullmac/rwnx_debugfs.c
fullmac/rwnx_dini.c
fullmac/rwnx_fdrv.ko
fullmac/rwnx_fdrv.mod.c
fullmac/rwnx_irqs.c
fullmac/rwnx_mod_params.c
fullmac/rwnx_msg_rx.c
fullmac/rwnx_msg_tx.c
fullmac/rwnx_mu_group.c
fullmac/rwnx_pci.c
fullmac/rwnx_platform.c
fullmac/rwnx_radar.c
fullmac/rwnx_strs.c
fullmac/rwnx_txq.c
fullmac/rwnx_utils.c
fullmac/rwnx_v7.c
modules.order
softmac/ipc_host.c
softmac/rwnx_bfmer.c
softmac/rwnx_cfgfile.c
softmac/rwnx_cmds.c
softmac/rwnx_debugfs.c
softmac/rwnx_dini.c
softmac/rwnx_drv.ko
softmac/rwnx_drv.mod.c
softmac/rwnx_irqs.c
softmac/rwnx_mod_params.c
softmac/rwnx_msg_rx.c
softmac/rwnx_msg_tx.c
softmac/rwnx_mu_group.c
softmac/rwnx_pci.c
softmac/rwnx_platform.c
softmac/rwnx_radar.c
softmac/rwnx_strs.c
softmac/rwnx_txq.c
softmac/rwnx_utils.c
softmac/rwnx_v7.c
fullmac/bl_bootrom.c
fullmac/bl_caldata.c
fullmac/bl_cfgfile.c
fullmac/bl_cmds.c
fullmac/bl_debugfs.c
fullmac/bl_ftrace.c
fullmac/bl_fwbin.c
fullmac/bl_irqs.c
fullmac/bl_mod_params.c
fullmac/bl_msg_rx.c
fullmac/bl_msg_tx.c
fullmac/bl_platform.c
fullmac/bl_sdio.c
fullmac/bl_strs.c
fullmac/bl_txq.c
fullmac/bl_utils.c
fullmac/bl_v7.c
fullmac/bl_fdrv.*
